<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Metadata Tracker Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/src/assets/Logos/icon.png">
    <link rel="stylesheet" href="/src/app/components/login/login.component.css">
</head>

<body>
    <div id="card">
        <div id="card-content">
          <div id="card-title">
            <img src="/src/assets/Logos/onnet+logo_2.png" alt="logo" width="240">
            <br>
            <h2>Welcome!!</h2>
            <div class="underline-title"></div>
          </div>
          <form method="post" class="form">
            <label for="user-email" style="padding-top:13px">
                &nbsp;OSID
              </label>
              <br>
            <input id="user-id" class="form-content" type="id" name="id" autocomplete="on" required placeholder="Your Employee ID"/>

            <br>
            <label for="user-password" style="padding-top:22px">&nbsp;Password
              </label>
              <br>
            <input id="user-password" class="form-content" type="password" name="password" required placeholder="Must be atleast 6 characters"/>
            
            <br>
            <input id="submit-btn" type="submit" name="submit" value="Sign In" />
            <br>
            <a id="tc">By continuing, you agree to accept our 
                Privacy Policy & Terms of Service.</a>
          </form>
        </div>
      </div>
</body>